html,body {
font-family:'Roboto Slab',serif;
max-width:100%;
}

.logo {
height:100px;
width:auto;
}

.view {
position:relative;
overflow:hidden;
background-color:#f9f9f9;
color:#888;
height:100%;
}

.view a {
cursor:pointer;
text-decoration:none;
color:#bbb;
}

.main,.main a {
color:#444;
height:100%;
}

.page-footer {
background-color:#f9f9f9;
color:#000;
}

.border-video {
border:3px solid #f9f9f9;
}

.title {
font-size:60px;
color:#444;
}

.content {
font-size:20px;
color:#888;
}

p {
font-size:18px;
}

.copy {
color:#bbb;
}

.nav-link.active,a:hover,h1:hover,h2:hover {
color:#444;
}

.nav-link,h1,h2 {
font-size:2em;
font-weight:700;
color:#bbb;
}